@import "tailwindcss";

:root {
  --background: #050608;
  --foreground: #f4f4f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-space-grotesk);
}

body {
  background: radial-gradient(circle at top right, #111827 0%, #050608 35%) fixed;
  color: var(--foreground);
}
